::-webkit-scrollbar {
  display: none;
}
* {
  transition: 0.4s;
  outline: none !important;
}
canvas {
  touch-action: auto !important; /* Allow touch interactions */
  cursor: default !important; /* Set a default cursor */
}
